/***       Contact Me       ***/
.form2{
    text-align: center;
}

h17{
    font-size:15px;
    font-weight: normal;
    color:rgb(40, 222, 192);
    text-shadow:5px 5px 5px #8ed4ba;
    margin-left: 550px;
    
}
h18{
    font-size:30px;
    margin-top: 20px;
    text-shadow:5px 5px 5px #8ed4ba;
    margin-left: 460px;
}
.name{
    margin-top: 50px;
    border-radius:5px;
    border-color: black;
    height: 50px;
    width: 400px;
    color:black;
    font-size: 15px;
    padding-left: 10px;
    border-width: 1px;
    
}
.email{
    margin-top: 50px;
    border-radius:5px;
    border-color: black;
    height: 50px;
    width: 400px;
    color:black;
    font-size: 15px;
    padding-left: 10px;
    border-width: 1px;
    
}
.phone{
    margin-top: 20px;
    border-radius:5px;
    border-color: black;
    height: 50px;
    width: 400px;
    color:black;
    font-size: 15px;
    padding-left: 10px;
    margin-left: -13px;
    border-width: 1px;
    
}
.budget{
    border-radius:5px;
    border-color: black;
    height: 50px;
    width: 400px;
    color:black;
    font-size: 15px;
    padding-left: 10px;
    
}
.msg{
    margin-top: 20px;
    border-radius:5px;
    border-color: black;
    height: 200px;
    width: 815px;
    color:black;
    font-size: 15px;
    padding-left: 10px;
    padding-top: 20px;
    margin-left: -3px;

}
.btn9{
    border-radius:5px;
    border-style: none;
    height: 60px;
    width: 170px;
    background-color:rgb(40, 222, 192);
    color:white;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 100px;
}