/***       Footer       ***/
.i7{
    margin-left: 100px;
    float: left;
    margin-bottom: 50px;
}
.fo2{
    float: right;
    font-size: 20px;
    width: 450px;
    margin-top: -30px;
}
.fo5{
    margin-top: 20px;
    float:left;
    font-size: 15px;
    width: 300px;
    margin-left: -150px;
}
.fo6{
    margin-top: 0px;
    font-size: 13px;
    margin-right: 50px;
    float: right;
}
.fo3{
    margin-right: 30px;
    margin-bottom: 0px;
    color:#28dec0;
}
.fo4{
    margin-top:-10px;
    margin-bottom: 0px;
    margin-right: 60px;
}
.fo61,.fo62{
    float:left;
}
.fo63{
    float: right;
}

/*  Copyright  */
.final{
    margin-top: 100px;
    text-align: center;
}
/*  Dividing Line  */
hr{
    height: 2px;
    background-color: #28dec0;
    border: none;

}
