/***       My Services       ***/
.se{
    font-family: Futura;
    text-shadow:5px 5px 5px rgb(40, 222, 192);
    font-weight: normal;
    margin-top: 800px;
}
h6{
    font-size:15px;
    font-weight: normal;
    color:rgb(40, 222, 192);
    text-shadow:5px 5px 5px #8ed4ba;
    margin-left: 550px;
    margin-top: 80px;
    margin-bottom: 0px;
    
}
h7{
    font-size:30px;
    margin-top: 0px;
    text-shadow:5px 5px 5px #8ed4ba;
    margin-left: 360px;
}
.se0{
    font-family: Futura;
    margin-top: -180px;
}
.se01{
    margin-top: 0px;
    margin-bottom: 200px;
}
.se1{
    margin-top: 30px;
    margin-left: 150px;
    font-family: Futura;
    height: 420px;
    width: 350px;
    box-shadow: 0 0 20px #dbdbdb;
    padding-left: 35px;
    float: left;
}
.i3{
    padding-bottom: 10px;
    padding-top: 20px;
    padding-left: -20px;
}
h8{
    padding-top: 20px;
    font-size: 30px;
    font-weight: lighter;
}
.se11{
    font-size: 15px;
    padding-top: 30px;
    font-weight: lighter;
    padding-bottom: 30px;
}
.btn4{
    border-style: none;
    height: 40px;
    width: 150px;
    background-color:rgb(40, 222, 192);
    color:white;
    font-size: 15px;
}

.se2{
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 100px;
    font-family: Futura;
    height: 250px;
    width: 400px;
    box-shadow: 0 0 20px #dbdbdb;
    float: left;
    padding-left: 35px;
    padding-top: 20px;
}

h9{
    font-size: 50px;
}
.se21{
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 0px;
}
.se22{
    font-size: 15px;
    color: rgb(100, 99, 99);
    margin-top: -10px;
}
.se02{
    margin-top: 1px;
}

.se3{
    margin-top: 100px;
    margin-left: 150px;
    font-family: Futura;
    height: 250px;
    width: 400px;
    box-shadow: 0 0 20px #dbdbdb;
    float: left;
    padding-left: 35px;
    padding-top: 20px;
}

.se4{
    margin-top: -350px;
    margin-left: 700px;
    font-family: Futura;
    height: 420px;
    width: 350px;
    box-shadow: 0 0 20px #dbdbdb;
    padding-left: 35px;
    background-color:rgb(40, 222, 192);
    float: left;
}
.se41{
    font-size: 15px;
    padding-top: 30px;
    font-weight: lighter;
    padding-bottom: 30px;
    color: white;
}
.btn5{
    border-style: none;
    height: 40px;
    width: 150px;
    background-color: white;
    color:black;
    font-size: 15px;
}
h10{
    padding-top: 20px;
    font-size: 30px;
    font-weight: lighter;
    color: white;
}

.se5{
    margin-top: 30px;
    margin-left: 150px;
    font-family: Futura;
    height: 420px;
    width: 350px;
    box-shadow: 0 0 20px #dbdbdb;
    padding-left: 35px;
    float: left;
}

.se6{
    margin-top: -350px;
    margin-left: 650px;
    font-family: Futura;
    height: 250px;
    width: 400px;
    box-shadow: 0 0 20px #dbdbdb;
    float: left;
    padding-left: 35px;
    padding-top: 20px;
}


.btn6{
    text-align: center;
    border-style: none;
    border-radius:5px;
    height: 40px;
    width: 150px;
    background-color:rgb(40, 222, 192);
    color:white;
    font-size: 15px;
}
.se04{
    margin-top: 1400px;
    margin-left: 520px;
    margin-bottom: 100px;

}
