/***       Testmonials       ***/
h13{
    font-size:20px;
    font-weight: normal;
    color:rgb(40, 222, 192);
    text-shadow:5px 5px 5px #8ed4ba;
    margin-left: 527px;
}
h14{
    font-size:40px;
    text-shadow:5px 5px 5px #8ed4ba;
    margin-left: 425px;
    margin-bottom: 30px;
}
.i5{
    margin-left: 565px;
}
.te1{
    margin-left: 300px;
    width: 600px;
    margin-bottom: 0px;
}
.te2{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 554px;
}
.te3{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 522px;
}
.i6{
    margin-left: 475px;
}

